/* game.css */

.game-container {
  margin: 0 auto;
  text-align: center;
}

.fire-image {
  width: 350px;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.person-status {
  font-size: 18px;
  margin-bottom: 20px;
}

.option-container {
  margin-bottom: 20px;
}

.option-image {
  width: 100px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.option-container div{
  border: 4px solid #201658;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.option-image:hover {
border: 2px solid green;
}

.gbtn {
  background-color: #201658;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 2px 30px 2px 30px;
  position: absolute;
  margin-top: -12px;
  margin-left: -70px;
  border: none;
  z-index: 1; /* Ensures it's above other elements */

}